# cache files for genbindings
cmd/genbindings/cachedir/

# docker files
container-build-cache/

# local genbindings configuration
cmd/genbindings/genbindings.local*

# local pkg-config configuration
pkg-config/*.pc

# binaries
*.exe

cmd/handbindings/handbindings
cmd/handbindings/bindings_test/direct
cmd/handbindings/bindings_test/testapp
cmd/genbindings/genbindings
cmd/miqt-uic/miqt-uic
cmd/miqt-rcc/miqt-rcc

examples/helloworld/helloworld
examples/helloworld6/helloworld6
examples/mdoutliner/mdoutliner
examples/windowsmanifest/windowsmanifest
examples/uidesigner/uidesigner
examples/libraries/extras-scintillaedit/extras-scintillaedit
examples/libraries/qt-printsupport/qt-printsupport
examples/libraries/restricted-extras-qscintilla/restricted-extras-qscintilla

# android temporary build files
android-build
deployment-settings.json
