# scratch files
*.json

# binaries
cmd/handbindings/handbindings
cmd/handbindings/bindings_test/direct
cmd/handbindings/bindings_test/testapp
cmd/genbindings/genbindings

examples/helloworld/helloworld
examples/mdoutliner/mdoutliner
