# cache files for genbindings
cmd/genbindings/cachedir/

# docker files
container-build-cache/

# local genbindings configuration
cmd/genbindings/genbindings.local*

# local pkg-config configuration
pkg-config/*.pc

# binaries
cmd/handbindings/handbindings
cmd/handbindings/bindings_test/direct
cmd/handbindings/bindings_test/testapp
cmd/genbindings/genbindings
cmd/miqt-uic/miqt-uic

examples/helloworld/helloworld
examples/helloworld/helloworld.exe
examples/mdoutliner/mdoutliner
examples/mdoutliner/mdoutliner.exe
examples/windowsmanifest/windowsmanifest
examples/windowsmanifest/windowsmanifest.exe
examples/uidesigner/uidesigner
examples/uidesigner/uidesigner.exe
examples/libraries/extras-scintillaedit/extras-scintillaedit
examples/libraries/qt-qprintsupport/qt-qprintsupport
examples/libraries/qt6/qt6
examples/libraries/restricted-extras-qscintilla/restricted-extras-qscintilla

# android temporary build files
android-build
deployment-settings.json
